html {
    font-size: 16px;
    overflow-x: hidden;
  }
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #121212;
    overflow-x: hidden;
  }
  a {
    transition: all 0.3s ease;
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
  button:focus {
    outline: 0;
  }
  .tm-mt-big {
    margin-top: 57px;
  }
  .tm-mb-big {
    margin-bottom: 60px;
  }
  .tm-login-col {
    max-width: 470px;
  }
  .tm-bg-primary-dark {
    background-color: #121212;
  }
  .tm-block {
      padding: 40px;
      -webkit-box-shadow: 1px 1px 5px 0 #455c71;
      -moz-box-shadow: 1px 1px 5px 0 #455c71;
      box-shadow: 1px 1px 5px 0 #455c71;
      min-height: 350px;
      height: 100%;
      max-height: 450px;
    }
    .tm-block-h-auto {
      min-height: 1px;
      max-height: none;
      height: auto;
    }
  .tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    color: #fff;
    margin-bottom: 10px;
  }
  .form-control {
    background-color: #54657d;
    color: #fff;
    border: 0;
  }
  .form-control {
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
  }
  .form-control:focus {
    background-color: #60738e;
    color: #fff;
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(180, 206, 233, 0.5);
  }
  .btn {
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    max-width: 100%;
  }
  .btn-primary {
    color: #fff;
    background-color: #00A1FF;
    border: 2px solid #00A1FF;
    font-size: 90%;
    font-weight: 600;
  }
  .btn-primary:active,
.btn-primary:hover {
  background-color: #0091E5;
  border: 2px solid #0091E5;
}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
    position: relative;
    font-size: 25px;
  }
  .message-text .closebtn {
    z-index: 2;
    position: relative;
    line-height: 50px;
    margin-right: 5px;
  }
  
  .closebtn:hover {
    color: #0091E5;
  }

  .no-display{
    display: none !important;
  }

  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    font-size: 25px;
  }
  